body {
  margin: 0;
  background: #323232;
  color: #fff;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

#ruler {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  opacity: 0;
  visibility: hidden;
}

#game {

}


#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, .8);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 200ms, opacity 200ms;
  -moz-transition:    visibility 200ms, opacity 200ms;
  -o-transition:      visibility 200ms, opacity 200ms;
  transition:         visibility 200ms, opacity 200ms;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  background: #323232;
  border-radius: 4px;

  -moz-box-shadow:    0 0 16px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  box-shadow:         0 0 16px rgba(0, 0, 0, 1);

  -webkit-transition: visibility 200ms, opacity 200ms;
  -moz-transition:    visibility 200ms, opacity 200ms;
  -o-transition:      visibility 200ms, opacity 200ms;
  transition:         visibility 200ms, opacity 200ms;

  border: 1px solid #222;

  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

#lobby {
  display: none;
  @width: 512px;
  @height: 370px;
  width: @width;
  height: @height;
  margin: -(@height/2) 0 0 -(@width/2);

  > h1 {
    font-weight: 100;
    text-align: center;
    margin: 8px 0;
    color: #f60;
  }
  > h2 {
    font-weight: 100;
    text-align: center;
    margin: 18px 0 22px;
  }

  > .side {
    position: absolute;
    bottom: 0;
    font-size: 48px;
    opacity: .2;

    &.side-left {
      left: 190px;
    }
    &.side-right {
      right: 190px;
    }
  }

  > .lobby {
    float: left;
    width: 64px;
    min-height: 32px;
    text-align: center;

    > .player {
      height: 48px;
      line-height: 48px;
      background: #222;
      margin: 4px 0;

      > .number {
        text-align: center;
        font-size: 32px;
      }
    }
  }

  > .teams {
    float: left;
    width: @width / 2 - 32px;
    min-height: 32px;

    &.team-a {
      text-align: left;
      > .player {
        &.ready {
          background: #f60;
        }
        > .number {
          float: left;
        }
      }
    }
    &.team-b {
      text-align: right;
      > .player {
        &.ready {
          background: #06f;
        }
        > .number {
          float: right;
        }
      }
    }
    > .player {
      height: 48px;
      line-height: 48px;
      background: #222;
      margin: 4px;

      &.ready {
        color: #000;
      }
      > .number {
        font-size: 18px;
        padding: 0 8px;
      }
    }
  }
}