body {
  margin: 0;
  background: #323232;
  color: #fff;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#message {
  position: absolute;
  line-height: 100%;
  font-size: 72px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  text-transform: uppercase;
  text-weight: 200;

}
#ruler {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  opacity: 0;
  visibility: hidden;
}

#game {

}


#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, .8);
  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 200ms, opacity 200ms;
  -moz-transition:    visibility 200ms, opacity 200ms;
  -o-transition:      visibility 200ms, opacity 200ms;
  transition:         visibility 200ms, opacity 200ms;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  background: #323232;
  border-radius: 4px;

  -moz-box-shadow:    0 0 16px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  box-shadow:         0 0 16px rgba(0, 0, 0, 1);

  -webkit-transition: visibility 200ms, opacity 200ms;
  -moz-transition:    visibility 200ms, opacity 200ms;
  -o-transition:      visibility 200ms, opacity 200ms;
  transition:         visibility 200ms, opacity 200ms;

  border: 1px solid #222;

  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

#lobby {
  @width: 512px;
  @height: 370px;
  width: @width;
  height: @height;
  margin: -(@height/2) 0 0 -(@width/2);

  > h1 {
    font-weight: 100;
    text-align: center;
    margin: 8px 0;
    color: #f60;
  }
  > h2 {
    font-weight: 100;
    text-align: center;
    margin: 18px 0 22px;
  }

  > .side {
    position: absolute;
    bottom: 0;
    font-size: 48px;
    opacity: .2;

    &.side-left {
      left: 190px;
    }
    &.side-right {
      right: 190px;
    }
  }

  > .lobby {
    float: left;
    width: 64px;
    min-height: 32px;
    text-align: center;

    > .player {
      height: 48px;
      line-height: 48px;
      color: #6f6;
      font-weight: bold;
      text-shadow: 0 0 8px #000;
      background: url('../img/gamepad.png') no-repeat 0 0;
      margin: 4px 0;

      > .number {
        text-align: center;
        font-size: 32px;
      }
    }
  }

  > .teams {
    float: left;
    width: @width / 2 - 32px;
    min-height: 32px;

    &.team-a {
      text-align: left;
      > .player {
        color: #f60;
        &.ready {
          background-color: #f60;
        }
        > .number {
          float: left;
        }
      }
    }
    &.team-b {
      text-align: right;
      > .player {
        background-position: right 0;
        color: #06f;
        &.ready {
          background-color: #06f;
        }
        > .number {
          float: right;
        }
      }
    }
    > .player {
      height: 48px;
      line-height: 48px;
      margin: 4px;
      background: #222 url('../img/gamepad.png') no-repeat left 0;

      &.ready {
        color: #000;
      }
      > .number {
        font-weight: bold;
        display: inline-block;
        text-shadow: 0 0 8px #000;
        width: 64px;
        text-align: center;
        font-size: 32px;
        font-size: 32px;
      }
    }
  }
}

#score {
  position: absolute;
  top: 0;
  left: 50%;
  width: 256px;
  margin: 0 0 0 -128px;
  font-size: 96px;
  cursor: default;

  > .dash {
    float: left;
    width: 32px;
    text-align: center;
    opacity: 0.2;
  }
  > .score {
    float: left;
    width: 112px;

    &#score-a {
      text-align: right;
      color: #f60;
    }
    &#score-b {
      color: #06f;
    }
  }
}